/pages/__pycache__/main_page.cpython-37.pyc
/pages/__pycache__/base_page.cpython-37.pyc
/pages/__pycache__/locators.cpython-37.pyc
/pages/__pycache__/login_page.cpython-37.pyc
/pages/__pycache__/product_page.cpython-37.pyc
/pages/__pycache__/cart_page.cpython-37.pyc
